.title-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-box img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-top: 30px;
}

.profile-box p {
  margin-top: 0;
  color: #FEAF00;
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100vh;
  background-color: #F2EAE1;
  /* padding-top: 30px; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.35);
  margin-left: -250px;
  /* only 10px visible */
  transition: margin-left 0.3s ease;
}

.side-menu:hover {
  margin-left: 0;
  /* reveal menu smoothly */
}

.side-menu ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.side-menu li {
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
}

.side-menu a {
  color: black;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
}

/* .side-menu a:hover { */
/*   background-color: #444; */
/*   border: 1px solid black; */
/* } */

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

li a img {
  width: 28px;
  height: 28px;
}

.active {
  background-color: #FEAF00;
}

.logout-link {

  margin-bottom: 50px;
}

.logout-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logout-link button {
  all: unset;
  cursor: pointer;
}

.logout-link button img {
  margin-left: 20px;
}
