{% extends "base_list.html" %}
{% load static %}
{% block content %}
    <div class="main-title">
        <h1>Lista de Usuários</h1>
    </div>
    <div class="btn-box">
        {% if user.is_authenticated %}
            <!-- Botão para adicionar novo produto (visível apenas para usuários autenticados) -->
            <a href="{% url 'users:register' %}"
               style="background-color: #feaf00"
               class="btn">+ Registrar Usuário</a>
        {% endif %}
    </div>
    <hr>
</hr>
<table>
    <thead>
        <tr>
            <th>imagem</th>
            <th>username</th>
            <th>ID</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td style= "padding:0;">
                    {% if u.image %}
                        <!-- Exibe a imagem do produto, se houver -->
                        <img src="{{ u.image.url }}"
                             alt="{{ u.name }}"
                             style="max-width:80px;
                                    max-height:80px">
                    {% else %}
                        <!-- Mensagem caso o produto não tenha imagem -->
                        <span>Sem imagem</span>
                    {% endif %}
                </td>
                <td>{{ u.username }}</td>
                <td>{{ u.id }}</td>
                <td class="actions">
                    <a href="#"
                       onclick="openDeleteModal('{{ u.id }}', '{{ u.username }}'); return false;">
                        <img src="{% static 'base_list/img/trash.svg' %}">
                    </a>
                    <a href="{% url 'users:edit' u.id %}">
                        <img src="{% static 'base_list/img/pen.svg' %}">
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Nenhum usuário encontrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% block modal_permition %}
    {% if user.is_authenticated %}<script>window.modalEnabled = true;</script>{% endif %}
{% endblock %}
{% endblock %}
