<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <title>Produtos</title>
{% load static %} <link rel="stylesheet" href="{% static 'estoque_app/lista.css' %}">
</head>
<body>
 <h1>Lista de Produtos</h1>
<div class="btn-box">
{%if user.is_authenticated%}
 <a href="{% url 'estoque:adicionar'%}" class="btn">+ Adicionar Novo Documento</a>
<form method="post" action="{%url 'users:logout'%}">{%csrf_token%}
<button style="background-color: darkred;" type="submit">Logout</button>
</form>
{%else%}
 <a href="{% url 'users:login' %}" style="background-color: grey;opacity:.3;" class="btn">+ Adicionar Novo Documento</a>
<a href="{% url 'users:login' %}" >
  <button style="background-color: darkgreen;" type="button">Login</button>
</a>
{%endif%}
</div>
 <table>
<thead>
 <tr>
 <th>Nome</th>
 <th>Marca</th>
 <th>Valor</th>
 <th>Quantidade</th>
 <th>ID</th>
 <th>Ações</th>
 </tr>
 </thead>
 <tbody>
 {% for produto in produtos %}
 <tr>
 <td>{{ produto.nome }}</td>
 <td>{{ produto.marca }}</td>
 <td>{{ produto.valor }}</td>
 <td>{{ produto.quantidade }}</td>
 <td>{{ produto.id }}</td>
 <td class="actions">
{%if user.is_authenticated%}
 <a href="{% url 'estoque:editar' produto.id %}">Editar</a>
 <a href="{% url 'estoque:excluir' produto.id %}">Excluir</a>
{%else%}
<p>Login para habilitar ações </p>
{%endif%}
 </td>
 </tr>
 {% empty %}
 <tr>
 <td colspan="6">Nenhum Produto cadastrado ainda.</td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
</body>
</html>
