{% extends "base_list.html" %}
{% load static %}
{% block content %}
    <div class = "main-title">
        <h1>Lista de Produtos</h1>
    </div>
    <div class="btn-box">
        {% if user.is_authenticated %}
            <!-- Botão para adicionar novo produto (visível apenas para usuários autenticados) -->
            <a href="{% url 'estoque:adicionar' %}"
               style="background-color: #feaf00"
               class="btn">+ Adicionar Produto</a>
            <!-- Formulário para logout -->
        {% endif %}
    </div>
    <hr>
</hr>
<table>
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Marca</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>ID</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
            <tr>
                <td style= "padding:0;">
                    {% if produto.imagem %}
                        <!-- Exibe a imagem do produto, se houver -->
                        <img class="obj-img"
                             src="{{ produto.imagem.url }}"
                             alt="{{ produto.nome }}">
                    {% else %}
                        <!-- Mensagem caso o produto não tenha imagem -->
                        <span>Sem imagem</span>
                    {% endif %}
                </td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.marca }}</td>
                <td>{{ produto.valor }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.id }}</td>
                <td class="actions">
                    {% if user.is_authenticated %}
                        <!-- Botão para editar produto -->
                        <a href="{% url 'estoque:editar' produto.id %}">
                            <img src="{% static 'base_list/img/pen.svg' %}">
                        </a>
                        <!-- Botão para excluir produto (abre modal de confirmação) -->
                        <a href="#"
                           onclick="openDeleteModal('{{ produto.id }}', '{{ produto.nome }}'); return false;">
                            <img src="{% static 'base_list/img/trash.svg' %}">
                        </a>
                    {% else %}
                        <!-- Mensagem para usuários não autenticados -->
                        <p>Login para habilitar ações</p>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <!-- Mensagem exibida caso não haja produtos cadastrados -->
            <tr>
                <td colspan="6">Nenhum Produto cadastrado ainda.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% block modal_permition %}
    {% if user.is_authenticated %}<script>window.modalEnabled = true;</script>{% endif %}
{% endblock %}
{% endblock %}
