.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  color: darkred;
}

.modal-content .del-btn {
  background-color: #dc3545;
  color: whitesmoke;
  font-weight: bold;
}
