body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}

.main-title {
  background-color: white;
  padding-block: 3px;
  margin-bottom: 15px;
}

.title {
  font-size: 2rem;
  /* your h1 size */
  line-height: 1.2;
  /* typical line-height */
  display: flex;
  /* so the bar aligns to the text height */
  align-items: center;
  gap: 0.5rem;
}

.title .bar {
  width: 5px;
  /* thickness of the rectangle */
  height: 50px;
  /* matches the height of the h1 line box */
  background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
  display: inline-block;
  /* border: 1px, solid, red; */
}

table {
  width: 100%;
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0 12px;
  /* horizontal | vertical spacing */
}

img.obj-img {
  max-width: 80px;
  max-height: 80px;
}

thead th {
  border: none;
  color: slategray;
}

th,
td {
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  text-align: center;
  min-height: 50px;
}

td.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

tbody td {
  padding-block: 30px;
  background-color: white;
  border: none;
}

tr>td>img {
  padding: 0;
}

hr {
  color: slategray;
  opacity: .2;
  height: 1px;
  background-color: slategray;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.actions a {
  margin-right: 10px;
}

.btn-box {
  display: flex;
  justify-content: end;
  align-items: center;

}

.btn-box * button {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.list-btn {
  background-color: #0000FF;
}
