{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <!-- Carrega o arquivo de estilos CSS -->
        <link rel="stylesheet" href="{% static 'estoque_app/panel/css/styles.css' %}" {% block extra_css %}{% endblock %}
        </head>
        <body>
            <div class="card-box">
                {% if user.is_superuser %}
                    <a href="{% url 'users:list' %}">
                        <div class="card">
                            <div class='card-title'>
                                <img src="{% static 'estoque_app/panel/img/userblue.svg' %}"
                                     alt="Seta para direita">
                                <p>Usuários</p>
                            </div>
                            <div class="counter">
                                <p>{{ user_count }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
                <a href="{% url 'estoque:lista' %}">
                    <div class="card">
                        <div class="card-title">
                            <img src="{% static 'estoque_app/panel/img/boxblue.svg' %}"
                                 alt="Seta para direita">
                            <p>produtos</p>
                        </div>
                        <div class="counter">
                            <p>{{ produto_count }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% include "include/base_nav.html" %}
        </body>
    </html>
