{% extends "base_form.html" %}
{% block content %}
    <div class="form">
        <div class="text-box">
            <h1 class = "title">
                <span class="bar"></span>Editar Usuario:
            </h1>
            <div class="subtitle-block">
                <p class="subtitle">{{ user_obj.username }}</p>
                <p class="discription">Edite os dados do Usuário</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fields">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="fields">
                <label for="{{ form.image.id_for_label }}">Imagem:</label>
                {{ form.image }}
                {% if user_obj.image %}
                    <br>
                    <img src="{{ user_obj.image.url }}"
                         alt="{{ user_obj.username }}"
                         style="max-width:80px;
                                max-height:80px">
                {% endif %}
            </div>
            <br>
            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
{% endblock %}
